@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta), sans-serif;
  --font-serif: var(--font-playfair), serif;
  
  --color-bordeaux: #8C1D1D;
  --color-bordeaux-survol: #701616;
  --color-creme-fond: #FAF7E3;
  --color-creme-clair: #FDFBF3;
  --color-texte-terreux: #4A3E3D;
  --color-accent-or: #C2410C;
}

:root {
  --arriere-plan: #FAF7E3;
  --premier-plan: #1C1917;
}

body {
  background-color: var(--arriere-plan);
  color: var(--premier-plan);
  font-family: var(--font-sans);
}
